---
import Layout from "../components/layout.astro"
import { Icon } from "astro-icon/components"
---

<Layout title="404">
  <div class="wrap flex flex-col">
    <Icon name="luisfun" class="icon-lf icon-rounded" />
    <div class="error">
      404
    </div>
    <a class="top-link" href="/">
      Go to Top
    </a>
  </div>
</Layout>

<style>
  .wrap {
    margin: 4rem 0;
  }
  .error {
    margin: 2rem 0;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .top-link {
    font-size: 1.25rem;
  }
</style>
