---
import Layout from "../components/layout.astro"
import { Icon } from "astro-icon/components"
---

<Layout title="404">
  <div class="wrap">
    <a class="icon" href="/">
      <Icon name="luisfun" />
    </a>
    <div class="error">
      404 error
    </div>
    <a href="/">
      Go to Top
    </a>
  </div>
</Layout>

<style>
  .wrap {
    margin: 4rem 0;
  }
  .icon {
    display: block;
    color: var(--text-0);
    width: 6rem;
    height: 6rem;
    margin: auto;
  }
  .error {
    margin: 1.5rem 0;
    font-size: 1.75rem;
    text-align: center;
  }
  a {
    display: block;
    margin: 1.5rem 0;
    font-size: 1.25rem;
    text-align: center;
  }
</style>
