---
import Layout from "../components/layout.astro"
import Svg from "../components/svg.astro"
import Link from "../components/link.astro"
import Card from "../components/card.astro"
---

<Layout>
  <header>
    <div class="top-icon">
      <Svg icon="luisfun" />
    </div>
    <div class="links">
      <Link
        icon="x-twitter"
        href="https://twitter.com/LuisFunX"
      />
      <Link
        icon="github"
        href="https://github.com/LuisFun"
      />
      <Link
        icon="discord"
        href="https://discord.gg/5bKYuCcmfu"
      />
      <Link
        icon="patreon"
        href="https://www.patreon.com/luisfun"
      />
    </div>
  </header>
  <main>
    <div class="grid-column-2">
      <Card
        icon="paimon"
        title="Paimon+"
        sub="Genshin Impact Online Tools"
        site="https://paimon.plus"
        env={["Gatsby, MUI","Cloudflare Pages / Workers"]}
      />
      <Card
        icon="pom-pom"
        title="Pom-Pom Lab"
        sub="Honkai: Star Rail Online Tools"
        site="https://starrail.luis.fun"
        env={["Gatsby, MUI","Cloudflare Pages / Workers"]}
      />
      <Card
        icon="luislab"
        title="Luis Lab"
        sub="Blog in Japanese"
        site="https://blog.luis.fun"
        env={["Gatsby","Cloudflare Pages"]}
      />
      <Card
        icon="luisfun"
        title="Luis.Fun"
        sub="Portfolio 2023"
        env={["Astro","Cloudflare Pages"]}
        github="https://github.com/LuisFun"
      />
    </div>
  </main>
</Layout>

<style>
  header {
    margin: 4rem 0;
  }
  main {
    margin: 4rem 0;
  }
  .top-icon {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }
</style>
