---
import Layout from "../components/layout.astro"
import Svg from "../components/svg.astro"
import Link from "../components/link.astro"
import Work from "../components/work.astro"
---

<Layout>
  <header>
    <div class="top-icon">
      <Svg icon="luisfun" />
    </div>
    <div class="links">
      <Link
        icon="x-twitter"
        href="https://twitter.com/LuisFunX"
      />
      <Link
        icon="github"
        href="https://github.com/LuisFun"
      />
      <Link
        icon="discord"
        href="https://discord.gg/5bKYuCcmfu"
      />
      <Link
        icon="patreon"
        href="https://www.patreon.com/luisfun"
      />
    </div>
  </header>
  <main>
    <div class="grid-column-2">
      <Work
        icon="paimon"
        title="Paimon+"
        site="https://paimon.plus"
        env={["Website","Gatsby, MUI","Cloudflare Pages / Workers"]}
      />
      <Work
        icon="hono"
        title="Discord Hono"
        site="https://discord-hono.luis.fun"
        env={["npm Module","Discord Bot","Cloudflare Workers"]}
        github="https://github.com/LuisFun/discord-hono"
      />
      <Work
        icon="paint"
        title="AI Paint"
        site="https://ai-paint.luis.fun"
        env={["Website","SvelteKit","Cloudflare Pages / Functions / AI"]}
        github="https://github.com/LuisFun/ai-paint"
      />
      <Work
        icon="luisfun"
        title="Luis.Fun"
        env={["This site","Astro","Cloudflare Pages"]}
        github="https://github.com/LuisFun/luis.fun"
      />
      <Work
        icon="mimo"
        title="HoYo News Bot"
        discord="https://discord.com/api/oauth2/authorize?client_id=1197426250743042069&permissions=2048&scope=bot"
        env={["News delivery bot","Discord Bot","Cloudflare Workers / D1"]}
        github="https://github.com/LuisFun/discord-bot-hoyo-news"
      />
      <Work
        icon="workers"
        title="AI Bot"
        env={["Playing with AI","Discord Bot","Cloudflare Workers / AI"]}
        github="https://github.com/LuisFun/discord-bot-cloudflare-ai"
      />
      <Work
        icon="luislab"
        title="Luis Lab"
        site="https://blog.luis.fun"
        env={["Blog","Gatsby","Cloudflare Pages"]}
      />
      <Work
        icon="pom-pom"
        title="Pom-Pom Lab"
        site="https://starrail.luis.fun"
        env={["Website","Gatsby, MUI","Cloudflare Pages / Workers"]}
      />
    </div>
  </main>
</Layout>

<style>
  header {
    margin: 4rem 0;
  }
  main {
    margin: 4rem 0;
  }
  .top-icon {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    color: var(--top-icon);
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
</style>
