---
type Props = {
  href: string
  label?: string
  color?: "top-icon"
}
const { href, label, color } = Astro.props
---

<a class:list={[{"top-icon": color===`top-icon`}]} {href} aria-label={label} rel = "noreferrer noopener" target = "_blank">
  <slot />
</a>

<style>
  a {
    display: block;
    height: 100%;
  }
  .top-icon {
    color: var(--top-icon);
  }
</style>
